<div class="jumbotron">
    <h3>{{app}}</h3>
    <div class="tableFixHead">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Materia</th>
                    <th>Turmas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="" ng-repeat="professor in professores">
                    <td><input class="inputAluno" ng-model="professor.nome" type="text" ng-change="onChange(boletim)"
                            ng-disabled="isEditable()" ng-value="professor.nome"></td">
                    <td>
                        <select class="custom-select" ng-model="professor.materia" ng-disabled="isEditable()" required>
                            <option ng-repeat="materia in materias" value="{{materia}}">{{materia}}</option>
                        </select>
                    </td>

                    <td>
                        <button type="button" ng-click="mostrarProfessores($index)" style="margin-bottom: 3px;"
                            class="btn btn-white" fa-trash>Ver
                            Turmas</button>

                        <div class="divProf" style="display: none;">
                            <div class="input-group" ng-repeat="t in professor.turmas track by $index">
                                <select type="text" class="custom-select" ng-model="t"
                                    ng-change="adicionarTurmaAoArray(professor, t, $index)" ng-disabled="isEditable()"
                                    aria-describedby="basic-addon2">
                                    <option ng-repeat="turma in turmas" ng-value="{{turma.id}}">{{turma.id}}</option>
                                </select>
                                <div class="input-group-append td">
                                    <button class="btn btn-outline-danger" type="button"
                                        ng-click="deletarTurma(professor, $index)">X</button>
                                </div>
                            </div>
                            
                            <button type="button" ng-click="adicionarTurma(professor)" class="btn btn-outline-secondary" style="margin-top: 5px;"
                            fa-trash>Add
                            Turma</button>
                        </div>
                    </td>
                    <td text-align: center;><button type="button" ng-click="deletarProfessor(professor.id, turma.id)"
                            class="btn btn-outline-danger" fa-trash>Delete</button></td>
                </tr>
            </tbody>

        </table>
    </div>

    <hr />

    </form>
    <hr>
    <div>

        <form name="boletimForm">
            <input class="form-control" value="" placeholder="Nome do novo professor" ng-model="professor.nome">
            <select class="form-control" ng-model="professor.materia" required>
                <option value="">Selecione uma materia</option>
                <option ng-repeat="materia in materias" value="{{materia}}">{{materia}}</option>
            </select>
            <select class="form-control" ng-model="turma" ng-options="turma.id for turma in turmas" required>
                <option value="">Selecione a turma desejada</option>
            </select>
        </form>
        <div style="margin-top: 20px;">
            <button class="btn btn-white " ng-click="carregarProfessoresByTurma(turma.id)"
                style="margin-right: 5px;">Buscar</button>
            <button class="btn btn-white " ng-click="editable()" style="margin-right: 5px;">Editar</button>
            <button class="btn btn-white " ng-click="salvarProfessores(professores, turma.id)"
                style="margin-right: 5px;">Salvar</button>
            <button class="btn btn-white " ng-click="cadastrarProfessor(professor, turma)"
                style="margin-right: 5px;">Cadastrar</button>
        </div>


    </div>
    <div class="alert alert-danger" id="alertId" role="alert">
        {{messageAlert}}
    </div>
    <div class="alert alert-success" id="alertSuccess" role="alert">
        {{messageSuccess}}
    </div>

</div>


</div>