.jumbotron {
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: rgb(7, 6, 6, 0.4);
    border-style: solid;
}
h3{
  color: white;
}
.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
    background: none;
    color: white;
}
.form-control :active{
  background-color: none;
  color: white;
}

.selecionado {
    background-color: #58B14C
}

.input {
    text-align: center;
    width: 60px;
    background: none;
  }
header-fixed {
    width: 100% 
}
.table {
    width: 100%;
}
.inputAluno{
  
    width: max-content;
    text-align: center;
}
.input, textarea{
  background: none;
  color: white;
}
.inputTurma, textarea{
  background: none;
  color: white;
}

.inputTurma{  
  width: 10em;
  text-align: center;
}
.inputTurma :disabled{
  background: none;
}
.custom-select{ 
  margin-bottom: 2px;
  background: none;
}
.custom-select, option{ 
  color: black;
} 
.custom-select, textarea{
  background: none;
  color: white;
}
.custom-select :disabled{
  background: none;
}
body {
    font-family: sans-serif;
    font-weight: bold;    
    background-image: url("../content/milky-way-923738.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  
  .text-box {
    margin-left: 44vw;
    margin-top: 42vh;
  }
  
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: absolute;
  }
  
  .btn:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-white {
    border-style: solid;    
    border-color: rgb(240, 237, 237);
    color: white;
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  
  .btn-white::after {
  }
  
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
            animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  
  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      -webkit-transform: tr
    }
  }
.tableFixHead          { overflow-y: auto; height: 350px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 10; color: white; }


table  { border-collapse: collapse; width: 100%; }
th, td { 
  padding: 30px 10px; 
  color: white;
}

th     { background: rgb(15, 14, 14);
border-radius: 2px;}

.tableFixHead {  border-left: 0; border-right: 0; border-style: ridge;}
.tableFixHead th, td{    
    border-top: 0;  
 }
.tableFixHead tbody tr:last-child td { border-bottom: 0; }

.table td{
  vertical-align: middle;
}

.alert{
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
select textarea{
  background: black;
}
select [type="text"]:disabled{
  background: none;
}
select:active{
  background: none;
}
select option{
  background: none;
}
.navbar{ 
  opacity: 0.7;
}
.nav{
  background: black;
  color:white;
}


