<div class="jumbotron">
    <h3>{{app}}</h3>
    <div class="tableFixHead">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Periodo</th>
                    <th>Turma</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="" ng-repeat="aluno in alunos">

                    <td><input class="inputTurma" ng-model="aluno.nome" type="text" ng-change="onChange(boletim)"
                            ng-disabled="isEditable()" value="{{aluno.nome}}"></td>
                    <td><input class="inputTurma" ng-model="turno" type="text" ng-change="onChange(boletim)"
                            ng-disabled="true" ng-value="turnoDoAluno(aluno.turma)"></td>
                    <td><select class="custom-select" ng-model="aluno.turma" ng-disabled="isEditable()" required>
                            <option ng-repeat="turma in turmas" ng-value="{{turma.id}}">{{turma.id}}</option>
                        </select></td>
                    <td><button type="button" ng-click="deletarAluno(aluno.id, turma.id)"
                            class="btn btn-outline-danger">Delet</button></td>
                </tr>
            </tbody>

        </table>
    </div>

    <hr />

    </form>


    <hr>
    <div>

        <form name="boletimForm">
            <input class="form-control" value="" placeholder="Nome do novo aluno" ng-model="aluno.nome">
            <select class="form-control" ng-model="turma" ng-options="turma.id for turma in turmas" required>
                <option value="">Selecione a turma desejada</option>
            </select>
        </form>
        <div style="margin-top: 20px;">
            <button class="btn btn-white" ng-click="carregarAlunosByTurma(turma.id)"
                style="margin-right: 5px;">Buscar</button>
            <button class="btn btn-white" ng-click="editable()" style="margin-right: 5px;">Editar</button>
            <button class="btn btn-white" ng-click="salvarAlunos(alunos, turma.id)"
                style="margin-right: 5px;">Salvar</button>

            <button ng-click="cadastrarAluno(aluno, turma)" class="btn btn-white btn-animate">Cadastrar</button>

        </div>


    </div>
    <div class="alert alert-danger" id="alertId" role="alert">
        {{messageAlert}}
    </div>
    <div class="alert alert-success" id="alertSuccess" role="alert">
        {{messageSuccess}}
    </div>

</div>